input[type="checkbox"] {
  appearance: none;
  outline: 1px solid #888888;
  outline-offset: 2px;
  width: 14px;
  height: 14px;
  vertical-align: middle;
  margin-right: 8px;
  margin-left: 3px;
}

input[type="checkbox"]:checked {
  background: var(--secondary-color);
}

input[type="checkbox"]:checked:disabled {
  background: #cccccc;
}

input[type="radio"] {
  appearance: none;
  outline: 1px solid #888888;
  outline-offset: 2px;
  width: 14px;
  height: 14px;
  vertical-align: middle;
  margin-right: 8px;
  margin-left: 3px;

  border-radius: 16px;
}

input[type="radio"]:checked {
  background: var(--secondary-color);
}

input[type="radio"]:checked:disabled {
  background: #cccccc;
}
