@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --manzu-color: #e6444f;
  --pinzu-color: #62488c;
  --souzu-color: #84b368;
  --tsupai-color: #888888;
  --option-color: #e6992b;
  --primary-color: #ff778e;

  --secondary-color: #3f5270;
}

*,
html {
  font-family: "Noto Sans JP", sans-serif;
}

body,
html {
  overflow: hidden;
  height: 100dvh;
}

.pai-selection-tab {
  min-width: calc(80px * 4);
  margin: 0 10px;
  margin-top: 10px;
}

.pai-selection-tab-item {
  font-weight: bolder;
  text-align: center;
  padding: 10px;
  border-radius: 8px 8px 0 0;
  background-color: #e0e0e0;
  color: #333333;
  cursor: pointer;
  height: 44px;
  box-sizing: border-box;
}

ruby {
  line-height: 14px;
}

a {
  color: var(--primary-color);
}

.pai-selection-tab-item--active {
  color: #ffffff;
}

.pai-selection-tab-item--active.pai-selection-tab-item--m,
.pai-selection-tab-divider--m {
  background-color: var(--manzu-color);
}
.pai-selection-tab-item--active.pai-selection-tab-item--p,
.pai-selection-tab-divider--p {
  background-color: var(--pinzu-color);
}
.pai-selection-tab-item--active.pai-selection-tab-item--s,
.pai-selection-tab-divider--s {
  background-color: var(--souzu-color);
}
.pai-selection-tab-item--active.pai-selection-tab-item--z,
.pai-selection-tab-divider--z {
  background-color: var(--tsupai-color);
}
.pai-selection-tab-item--active.pai-selection-tab-item--option,
.pai-selection-tab-divider--option {
  background-color: var(--option-color);
}

.pai-selection-tab-divider {
  height: 5px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin: 10px;
  margin-top: 0;
  padding-top: 10px;
}

.footer {
  width: 100%;
  bottom: 0;
  padding: 10px;
  padding-top: 10px;
  background-color: #333333;
  color: #ffffff;
  z-index: 5;
  box-sizing: border-box;
}

.footer p {
  font-size: 10px;
  text-align: center;
}

.footer p.copyright {
  margin-top: 10px;
}

.header {
  width: 100%;
  top: 0;
  background-color: #ffffff;
  box-sizing: border-box;
  z-index: 5;
}

.pai-container {
  padding: 10px;
  overflow: scroll;
  height: calc(100dvh - 518px);
  box-sizing: border-box;
}

.pai-selections {
  margin: 10px;
}

.pai-selections > li {
  width: 44px;
  height: 63px;
  background-color: #eeeeee;
  border-radius: 5px;
  border: 1px dashed #cccccc;
  box-sizing: border-box;
}

.pai-selections > li.col-span-2 {
  width: initial;
  height: initial;
  background-color: initial;
  border-radius: initial;
  border: initial;
}

.pai-selection-text {
  font-size: 16px;
  color: #888888;
}

.score-area {
  margin: 10px;
  padding: 10px;
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  border-radius: 5px;
  height: 82px;
}

.score-area h2 {
  font-size: 14px;
  font-weight: bold;
}

.score-area--value {
  margin-top: 8px;
  font-size: 24px;
}

.score-area > div {
  border-left: 1px dashed #cccccc;
}

.score-area > div:first-child {
  border: none;
}

.button {
  text-align: center;
  border-radius: 4px;
  padding: 8px 0;
  transition: opacity 0.2s ease;
  box-sizing: border-box;
}

.button:hover {
  opacity: 0.8;
}

.primary-button,
.do-calculate-button {
  background-color: var(--secondary-color);
  color: #ffffff;
  border: 2px solid var(--secondary-color);
}

.secondary-button {
  background-color: #e0901d;
  color: #ffffff;
  border: 2px solid #e0901d;
}

.secondary-button.outline-button {
  background: transparent;
  border: 2px solid #e0901d;
  color: #e0901d;
}

.primary-button.outline-button,
.do-calculate-button.outline-button {
  background: transparent;
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
}

.calculation-result-button {
  border: 2px solid #9f89a9;
  color: #9f89a9;
  box-sizing: border-box;
}

.button[disabled] {
  background-color: #eeeeee;
  color: #cccccc;
  cursor: not-allowed;
  border: 2px solid #eeeeee;
}

.calculation-button-position {
  background-color: #ffffff;
  width: 100%;
}

.pai-selections--pai {
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.pai-selections li.pai-selections--pai--hora {
  border: 2px solid #e0901d;
}

.pai-selections li.pai-selections--pai--dora {
  border: 2px solid #e13a3a;
}

.pai-selections li.pai-selections--pai--ura-dora {
  border: 2px solid #d21de0;
}

.pai-selections li.pai-selections--pai--furo {
  transform: rotate(-90deg);
}

button.pai[disabled] {
  filter: grayscale(200%);
  cursor: pointer;
  opacity: 0.5;
}

.share-button {
  border: 1px solid #888888;
  padding: 4px;
  font-size: 12px;
  border-radius: 4px;
  color: #888888;
  cursor: pointer;
}

.pai-selection-tab-item ruby,
.pai-selection-tab-item rb,
.pai-selection-tab-item rt,
.pai-selection-tab-item rp {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

.pai-selection-tab-item ruby {
  display: ruby;
  position: relative;
  top: 0.25em;
}

.pai-selection-tab-item rb {
  display: ruby-base;
}

.pai-selection-tab-item rt {
  display: ruby-text;
  font-size: 10px;
  margin-top: 2px;
  margin-bottom: -8px;
}

/* NOTE: Safari (of course cellphones equals) have <ruby> baseline bug. here is fixed and alignment ruby for tabs */
_::-webkit-full-page-media,
_:future,
:root .pai-selection-tab-item ruby {
  top: -0.25em;
}
