@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --manzu-color: #e6444f;
  --pinzu-color: #62488c;
  --souzu-color: #84b368;
  --tsupai-color: #888888;
  --option-color: #e6992b;
  --primary-color: #ff778e;

  --secondary-color: #3f5270;
  --thirdly-color: #e0901d;
}

*,
html {
  font-family: "Noto Sans JP", sans-serif;
}

body,
html {
  overflow: hidden;
  height: 100dvh;
}

.pai-selection-tab {
  min-width: calc(80px * 4);
  margin: 0 10px;
  margin-top: 10px;
}

.pai-selection-tab-item {
  font-weight: bolder;
  text-align: center;
  padding: 10px;
  border-radius: 8px 8px 0 0;
  background-color: #e0e0e0;
  color: #333333;
  cursor: pointer;
  height: 44px;
  box-sizing: border-box;
}

ruby {
  line-height: 14px;
}

a {
  color: var(--primary-color);
}

.pai-selection-tab-item--active {
  color: #ffffff;
}

.pai-selection-tab-item--active.pai-selection-tab-item--m,
.pai-selection-tab-divider--m {
  background-color: var(--manzu-color);
}
.pai-selection-tab-item--active.pai-selection-tab-item--p,
.pai-selection-tab-divider--p {
  background-color: var(--pinzu-color);
}
.pai-selection-tab-item--active.pai-selection-tab-item--s,
.pai-selection-tab-divider--s {
  background-color: var(--souzu-color);
}
.pai-selection-tab-item--active.pai-selection-tab-item--z,
.pai-selection-tab-divider--z {
  background-color: var(--tsupai-color);
}
.pai-selection-tab-item--active.pai-selection-tab-item--option,
.pai-selection-tab-divider--option {
  background-color: var(--option-color);
}

.pai-selection-tab-divider {
  height: 5px;
}

.title-container {
  margin: 10px;
  margin-top: 0;
  padding-top: 10px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.footer {
  width: 100%;
  bottom: 0;
  padding: 10px;
  padding-top: 10px;
  background-color: #333333;
  color: #ffffff;
  z-index: 5;
  box-sizing: border-box;
}

.footer p {
  font-size: 10px;
  text-align: center;
}

.footer p.copyright {
  margin-top: 10px;
}

.header {
  width: 100%;
  top: 0;
  background-color: #ffffff;
  box-sizing: border-box;
  z-index: 5;
}

.pai-container {
  padding: 10px;
  overflow: scroll;
  /* NOTE: The device height - (header height + footer height + calc btn height) */
  height: calc(100dvh - (427px + 65px + 60px));
  box-sizing: border-box;
}

.pai-selections {
  margin: 10px;
}

.pai-selections > li {
  height: 50px;
  background-color: #eeeeee;
  border-radius: 5px;
  border: 1px dashed #cccccc;
  box-sizing: border-box;
}

.pai-selections > li.col-span-2 {
  width: initial;
  height: initial;
  background-color: initial;
  border-radius: initial;
  border: initial;
}

.pai-selection-text {
  font-size: 12px;
  color: #888888;
  line-height: 12px;
}

.score-area {
  margin: 10px;
  padding: 10px;
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.score-area h2 {
  font-size: 14px;
  font-weight: bold;
}

.score-area--value {
  margin-top: 8px;
  font-size: 24px;
}

.score-area--data {
  height: 79px;
}

.score-area--data > div {
  border-left: 1px dashed #cccccc;
}

.score-area--data > div:first-child {
  border: none;
}

.button {
  text-align: center;
  border-radius: 4px;
  padding: 8px 0;
  transition: opacity 0.2s ease;
  box-sizing: border-box;
}

.button:hover {
  opacity: 0.8;
}

.primary-button,
.do-calculate-button {
  background-color: var(--secondary-color);
  color: #ffffff;
  border: 2px solid var(--secondary-color);
}

.button--with-reflecting-animation:not([disabled]) {
  position: relative;
  animation: backgroundReflectionSecondaryColor 3s infinite ease-in-out;
  overflow: hidden;
}

.button--with-reflecting-animation:not([disabled])::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.2),
    transparent
  );
  filter: blur(24px);
  transform: rotate(135deg);
  animation: reflecting-animation 5s infinite ease-in-out;
}

@keyframes reflecting-animation {
  0% {
    transform: translateX(-100%) rotate(-135deg);
  }
  100% {
    transform: translateX(100%) rotate(-135deg);
  }
}

.secondary-button {
  background-color: var(--thirdly-color);
  color: #ffffff;
  border: 2px solid var(--thirdly-color);
}

.secondary-button.outline-button {
  background: transparent;
  border: 2px solid var(--thirdly-color);
  color: var(--thirdly-color);
}

.primary-button.outline-button,
.do-calculate-button.outline-button {
  background: transparent;
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
}

.calculation-result-button {
  border: 2px solid #9f89a9;
  color: #9f89a9;
  box-sizing: border-box;
}

.button[disabled] {
  background-color: #eeeeee;
  color: #cccccc;
  cursor: not-allowed;
  border: 2px solid #eeeeee;
}

.calculation-button-position {
  background-color: #ffffff;
  width: 100%;
}

.pai-selections--pai {
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.pai-selections--pai-ura {
  background-color: #dd4c47;
  box-shadow:
    inset -2px 0 2px rgb(128, 128, 128, 0.5),
    inset -4px 0 2px rgb(128, 128, 128, 0.25),
    inset -6px 0 2px rgb(128, 128, 128, 0.165);
  border-radius: 4px;
}

.pai-selections li.pai-selections--pai--hora {
  border: 2px solid #e0901d;
}

.pai-selections li.pai-selections--pai--dora {
  border: 2px solid #e13a3a;
}

.pai-selections li.pai-selections--pai--ura-dora {
  border: 2px solid #d21de0;
}

.pai-selections li.pai-selections--pai--furo {
  transform: rotate(-90deg);
  position: relative;
  top: 6px;
}

button.pai[disabled] {
  filter: grayscale(200%);
  cursor: pointer;
  opacity: 0.5;
}

.small-button {
  border: 1px solid #888888;
  padding: 4px;
  font-size: 12px;
  border-radius: 4px;
  color: #888888;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.small-button:hover {
  opacity: 0.8;
}

.pai-selection-tab-item ruby,
.pai-selection-tab-item rb,
.pai-selection-tab-item rt,
.pai-selection-tab-item rp {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

.pai-selection-tab-item ruby {
  display: ruby;
  position: relative;
  top: 0.25em;
}

.pai-selection-tab-item rb {
  display: ruby-base;
}

.pai-selection-tab-item rt {
  display: ruby-text;
  font-size: 10px;
  margin-top: 2px;
  margin-bottom: -8px;
}

.applied-yaku-list li {
  border-radius: 4px;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  padding: 4px 4px;
  height: 26px;
  box-sizing: border-box;
}

.applied-yaku-list li.applied-yaku-list--message {
  background-color: #cccccc;
  color: #666666;
}

.automatic-jantaku-bar {
  width: 123px;
  height: 10px;
  box-sizing: border-box;
  border: 1px solid #888888;
  border-radius: 2px;
}

.score-bar-description--layout > li {
  padding-bottom: calc(0.25rem * 2);
  padding-top: calc(0.25rem * 2);
  border: 1px solid #888888;
  margin-top: -1px;
}

.score-bar-description--layout > li:first-child {
  margin-top: initial;
}

/* NOTE: Safari (of course cellphones equals) have <ruby> baseline bug. here is fixed and alignment ruby for tabs */
_::-webkit-full-page-media,
_:future,
:root .pai-selection-tab-item ruby {
  top: -0.25em;
}

_::-webkit-full-page-media,
_:future,
:root .applied-yaku-list ruby {
  position: relative;
  top: -0.5em;
}

_::-webkit-full-page-media,
_:future,
:root .applied-yaku-list rt {
  margin-bottom: -0.25em;
}
