.dialog-overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(4px);
  z-index: 100;
}

.dialog {
  width: 100%;
  margin: 0 10px;
  background-color: #ffffff;
  border: 1px solid #888888;
  border-radius: 5px;
  box-sizing: border-box;
}

.dialog-title {
  background-color: var(--secondary-color);
  color: #ffffff;
  border-radius: 5px 5px 0 0;
  padding: 10px;
  box-sizing: border-box;
  font-weight: bold;
}

.dialog-contents {
  padding: 10px;
  font-size: 14px;
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.dialog-message {
  padding: 10px;
  font-size: 14px;
}
