name: sizume-articles
on:
  push:
  schedule:
    - cron:  '0 * * * *'

jobs:
  update-articles:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: |
          git remote set-url origin https://github-actions:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}
          git config --global user.name "${GITHUB_ACTOR}"
          git config --global user.email "${GITHUB_ACTOR}@users.noreply.github.com"

          curl -sS -H "Authorization: Bearer ${{ secrets.SIZUME_API_KEY }}" https://sizu.me/api/v1/posts > articles.json

          if (git diff --shortstat | grep '[0-9]'); then \
            git add articles.json; \
            git commit -m "Update articles"; \
            git push origin HEAD:${GITHUB_REF}; \
          fi
