body {
  background-color: #252525;
  height: 100vh;
}
.layout-contents {
  background-color: #ffffff;
  height: 100dvh;
}

@media (min-width: 430px) {
  .layout-contents {
    width: 430px;
    position: absolute;
    left: calc(50% - 215px);
    top: 0;
    background-color: #ffffff;
  }
}
