body {
  background-color: #252525;
}
.layout-contents {
  background-color: #FFFFFF;
}

@media (min-width: 430px) {
  .layout-contents {
    width: 430px;
    height: 100vh;
    position: absolute;
    left: calc(50% - 215px);
    top: 0;
    background-color: #FFFFFF;
  }
}
